.ml15 {
  display: flex;
  font-weight: 600;
  font-size: 1 em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  justify-content: space-between;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.greenshadow{
  text-shadow: 2px 2px 5px #549F93;

}

.orangeshadow{
  text-shadow: 2px 2px 5px #F49E4C;
}

.pinkshadow{
  text-shadow: 2px 2px 5px #EF94CB;
}
