.game-show-container {
  height: 580px;
  display: flex;
  align-items: flex-start;
  justify-items: space-between;
}

.game-show-image {

  height: 250px;
  width: 250px;
  margin-top: 50px;
  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }
}

.fistsection {
  width: 280px;
}

.datepicker {
  border-radius: 6px;
}

.game-show-description {
  height: 100%;
  padding: 12px;

  p {
    margin: 8px 0;
  }
}

.middle-section {
padding-left: 15px;
padding-right: 15px;
}

.calender {
  padding: 12px;
  height: 100%;
}

.calendar-rental {
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 16px;
  padding-top: 30px;
  badding-bottom: 40px;
}

.scroll {
            display: block;
            height: 400px;
            border: 0px solid red;
            padding: 5px;
            margin-top: 5px;
            width: 100%;
            overflow-y: scroll;
        }
