.notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  background-color: hsla(0, 0%, 100%, 0.4);
  padding: 20px 16px;
  border-radius: 8px
}

.rental-pic {
  width: 120px;
}

.rentalsheader {
  margin-top: 40px;
}

.rental-avatar {
  width: 100px;
  height: 100px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
  width: 400px;
}

.notification p {
  margin: 0;
  font-weight: 600;
  line-height: 1.4;
}

.notification small {
  color: #000;
  font-weight: light;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
