<div class="footer">
  <div class="footer-links">
    <%= link_to "Browse Games", games_path %>
      <%= link_to "Share a Game",  new_game_path %>
  </div>
  <div class="footer-copyright">
    This service is brought to you by Team Plant Fam
  </div>
</div>
