<div class="cards">
  <% @games.each do |game| %>
  <%= link_to game_path(game) do %>
      <div class="card-container">
          <%= cl_image_tag game.photo.key %>
          <div class="card-game-info">
            <h1 class="card-name"><%= game.name %></h1>
          </div>
      </div>
      <% end %>
  <% end %>
</div>
