<img style="background-image: url('https://library.kissclipart.com/20180925/oee/kissclipart-generic-game-board-clipart-board-game-hern-pln-ad4534c29c3d9bd3.png');">
<div class="cards">
  <% @games.each do |game| %>
  <%= link_to game_path(game) do %>
      <div class="card-container">
        <% if game.photo.attached? %>
          <%= cl_image_tag game.photo.key %>
          <div class="card-game-info">
            <h1 class="card-name"><%= game.name %></h1>
          </div>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>
