<div class="card-container">
  <div>
    <%= link_to image_tag('https://b3h2.scene7.com/is/image/BedBathandBeyond/77169645928338p?$690$&wid=690&hei=690') %>
  </div>
  

</div>

<%# "name"
    "description"
    "type"
    "min_players"
    "max_players"
    "rented"
    "price" %>