.button {
  width: 50%;
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none
}

.button-black {
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-create {
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  background-color: #D94862;
  border-radius: 80px;
  padding: 15px;
  width: 200px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-create:hover{
  background-color: #c53a54;
  color: #fff;
}

.button-black:hover {
  text-decoration: none;
}

.upload-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  font-weight: bold;
  background-color: #D94862;
  padding: 12px;
  border-radius: 80px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upload-button:hover {
  color: #fff;
  background-color: #c53a54;
}
