.btn {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.btngreen {
  width: 200px;
  margin: 0 auto;
  background-color: green;
  color: white;
  padding: 20px;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 20px;
  position: relative;
  left: 270px;
  text-decoration: none;
}

a {
  text-decoration: none
}

.btn-black {
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-black:hover {
  text-decoration: none;
}
