*, *::before, *::after { box-sizing: border-box; }

.horizontal-form {
  width: 60%;
}
.game-search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
  margin-top: 64px;
}

.search-element {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 16px 48px;
}

.search-label {
  font-weight: 600;
  margin-bottom: 8px;
}

.search-input {
  margin-left: 24px;
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 0.7em;
  line-height: 0.7em;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px #D94862;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  font-size: 16px;
  border-radius: 50%;
  color: white;
  background-color: #D94862;
  margin-right: 8px;
  border: none;
}

a:hover {
  color: #fff;
}

.search-button:hover {
  background-color: #c53a54;
}

.search-input {
  font-size: 16px;
  color: #777;
}

.feather-map-pin {
  margin-right: 16px;
  color: #D94862;
}

.game-search {
  width: 520px;
}
